*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size:15px;
    font-family: "League Spartan", sans-serif;
}

.main{
    padding:1.5rem;
}

.main-header{
    width:100%;
    display: flex;
    justify-content: center;
    padding:4rem 0 1.8rem 0;
}

.header{
    font-size:2.7rem;
    line-height: 2.2rem;
    width:80%;
    text-align: center;
    color: #532151;
}

.top-section-left p{
    color: hsl(303, 10%, 53%);
    text-align:center;
    width:100%;
    font-size:1.3rem;
    line-height: 1.6rem;
    padding: 1px 5px 5px 5px;
}


.ratings{
    padding:1.35rem 5rem;
    background-color:#F7F2F7;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:13px;
    margin : 5px 7px 15px 7px;
    border-radius: 10px;
    color: #532151;;
}

.ratings p{
    font-size: 1.1rem;
    font-weight: bold;
    width:max-content;
}

.stars{
    display: flex;
    gap:8px;
}

.testimonials{
    background-color: #521F50;
    padding:2.5rem 3rem;
    margin:1rem 0.5rem;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    gap:25px;
}



.testimonials-top{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
}

.profile-pic{
    object-fit:fill;
    overflow:hidden;
   
}

.profile-pic img{
    border-radius:50%;
    height:40px;
    width:40px;
}

.testimonials-profile-details{
    display: flex;
    flex-direction: column;
    gap:6px;
}

.testimonials-profile-details h3{
    color:white;
    font-size:1.1rem;
}

.testimonials-profile-details p{
    color:#DA5EA0;
    font-size:1.1rem;
}

.testimonials-bottom{
    color:white;
}

.testimonials-bottom p{
    font-size:1.2rem;
    line-height:1.5rem;
}

@media(min-width:1440px){

    .main{
        padding:10rem 10rem 5rem 13rem;
        display: flex;
        flex-direction: column;
        gap:80px;
    }
    .top-section{
        display: flex;
        
    }
    .main-header{
        padding:0;
        justify-content: start;
    }

    .header{
        width:60%;
        font-size: 4.2rem;
        line-height: 3.3rem;
        text-align: start;
    }

    .top-section-left{
        display: flex;
        flex-direction: column;
        gap:2rem;
        width:50%;
    }

    .top-section-left p{
        text-align:start;
        width:65%;
        padding:0;
        font-size:1.3rem;
    }

    .top-section-right{
        width:50%;
    }

    .stars img{
        width:22px;
    }

    .ratings{
       flex-direction: row;
       justify-content: start;
       padding: 1.6rem 1rem 1.6rem 3rem;
       gap:2rem;
       width:75%;
       position:relative;
       justify-self: end;
    }

    .ratings p{
        font-size: 1.3rem;
        margin-left:25px;
    }

    .ratings-1{
        right:120px;
    }

    .ratings-2{
        right:70px;
    }

    .ratings-3{
        right:20px;
    }

    .bottom-section{
        display: flex;
        gap:30px;
    }

    .testimonials{
        height:max-content;
        padding: 3.5rem 2.6rem;
        position:relative;
    }

    .testimonials-top{
        padding:0 1.2rem;
    }

    .testimonials-bottom p{
        font-size:1.3rem;
        padding:0 1.33rem 0 1.2rem;
        line-height: 1.65rem;
        font-weight: 400;
        width:100%;
    }

    .testimonials-profile-details h3{
        font-size:1.3rem;
    }

    .testimonials-profile-details p{
        font-size:1.3rem;
    }

    .art-1{
        top:10px;
    }

    .art-2{
    
        top:40px;
    }

    .art-3{
    
        top:70px;
    }


}